/* Style for addPost html */


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-color: aliceblue;
}

/* Gray box */
.center-box { /* class selector */
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

/* rows in the gray box */
.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    width: 90%;
}

/* labels */
.center-box .row label { /* descendant Selector */
    width: 120px;
    height: 50px;
    padding: 0;
    font-size: 20px;
    text-align: center;
    font-family: monospace;
}

/* textarea */
.row textarea {
    flex: 1;
    height: 100px;
    resize: none;
    padding: 10px;
    border-radius: 0;
    font-size: 20px;
}

#text-body{ /* ID selector */
    border: 1px solid;
}

/* dont show the deafault style */
.row input[type="file"] {
    display: none;
}

/* Choose File button */
.file-btn {
    flex: 0.8;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    border-radius: 0;
    border: 1px solid #000;
    background-color: gainsboro;
    color: gray;
    font-size: 20px;
    white-space: nowrap;
    line-height: 1.5;
    min-width: 160px;
    min-height: 50px;

}
.file-btn:hover{ /* pseudo-class */
    background-color: rgb(189, 188, 188);
}

/* Create post button */
.button-row button {
    margin: 0 auto;
    padding: 10px 40px;
    border: none;
    border-radius: 0;
    background-color: #2d5fa6;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.button-row button:hover {
    background-color: #244a82;
}


