/* general login area style */
.loginbox {
    background-color: #cdcecf;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.welcome {
    font-weight: bold;
    padding-top: 20px;
    font-size: 1.1em;
}

.welcome::first-letter{
    font-size: 1.11em;
}

#blue {
    color: #4cc1e4;
}

/* 'Log in' button style */
form button{
    background-color: #163874;
    color: #ffffff;
    box-shadow: none;
    border-style: none;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div > form > button:hover {
    background-color: #2352a3;
}

p ~ p {
    font-size: 1.01em;
}

p + p {
    padding-bottom: 2px;
}